# Adafruit OLED and GPIO
adafruit-ssd1306

# Image Processing
Pillow

# Web scraping and requests
requests
selenium==4.6.1
webdriver-manager
beautifulsoup4
html5lib

# Audio Processing
pyaudio
yt-dlp

# Others
urllib3